.counterDiv{

    margin: 0 auto;
    display: flex;
    width: 400px;
    height:400px;
    border:5px solid deepskyblue;
    border-radius:40px;
    background-color:green;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}

.textBox{
    display: flex;
    width: 300px;
    background-color:orange;
    border: 5px solid yellow;
    justify-content:space-evenly;
}


.buttonsBox{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;

}
.buttonsBox:hover{

    transform: scale(1.25);
    transition: transform 0.3s ease;

}